In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = pd.read_csv('International_Education_Costs.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            907 non-null    object
 1   City               907 non-null    object
 2   University         907 non-null    object
 3   Program            907 non-null    object
 4   Level              907 non-null    object
 5   Duration_Years     907 non-null    float64
 6   Tuition_USD        907 non-null    int64
 7   Living_Cost_Index  907 non-null    float64
 8   Rent_USD           907 non-null    int64
 9   Visa_Fee_USD       907 non-null    int64
 10  Insurance_USD      907 non-null    int64
 11  Exchange_Rate      907 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 85.2+ KB

In [15]:
df.isna().sum()

Country              0
City                 0
University           0
Program              0
Level                0
Duration_Years       0
Tuition_USD          0
Living_Cost_Index    0
Rent_USD             0
Visa_Fee_USD         0
Insurance_USD        0
Exchange_Rate        0
dtype: int64